<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Home</title>
	<link href="build/theme.css" rel="stylesheet">
	<link href="plugins/better-picture.css" rel="stylesheet" />
	<script src="plugins/better-picture.min.js"></script>
	<script src="plugins/embla-carousel.umd.js"></script>
	<script src="plugins/jquery-3.7.1.min.js"></script>
	<script src="build/scripts.js"></script>
</head>
<body>

<a class="skip-link" href="#contents">Skip to Content</a>

<div id="site">

	<header class="header_box is_sticky">

		<div class="fixed">

			<a href="#" class="logo"></a>

			<nav class="navigation" id="main-menu">

				<ul class="menu">
					<li><a href="#"></a></li>
					<li class="submenu">
						<a href="#"></a>
						<ul class="sub-menu">
							<li><a href="#"></a></li>
							<li><a href="#"></a></li>
							<li><a href="#"></a></li>
						</ul>
					</li>
					<li><a href="#"></a></li>
					<li><a href="#"></a></li>
					<li><a href="#"></a></li>
				</ul>

			</nav>

			<form action="#" method="get" class="search">
				<input type="text" value="" placeholder="Search..." name="s" aria-label="Search" />
				<input type="submit" value="Search" />
			</form>

			<button aria-label="Toggle Menu" class="menu_btn" aria-controls="main-menu"><span></span></button>

		</div>

	</header>

	<section class="heading_box" id="contents">

		<div class="fixed">

			<div class="contents">
				<h1></h1>
			</div>

		</div>

		<div class="background desktop">
			<img src="images/pic_placeholder.png" width="1200" height="800" loading="lazy" alt="">
		</div>

		<div class="background mobile">
			<img src="images/pic_placeholder.png" width="1200" height="800" loading="lazy" alt="">
		</div>

	</section>

	<section class="media_box">

		<div class="fixed">

			<div class="media">
				<img src="images/pic_placeholder.png" width="1200" height="800" loading="lazy" alt="">
			</div>

			<div class="wrapper">

				<div class="contents">

					<h2></h2>

					<div class="content">
						<p></p>
					</div>

				</div>

			</div>

		</div>

	</section>

	<footer class="footer_box">

		<div class="fixed">

			<div class="footer">


			</div>

		</div>

	</footer>

</div>

</body>
</html>