<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Home</title>
	<link href="build/style.css" type="text/css" rel="stylesheet">
</head>
<body>
<div id="site">

	<div class="container_box">

		<div class="header_box">
			
			<div class="fixed">
			
				<a href="#" class="logo"></a>

				<form action="#" method="get" class="search">
					<input type="text" value="" placeholder="Search..." name="s" />
					<input type="submit" value="Search" />
				</form>

			</div>
			
		</div>


		<div class="wrapper_box">

			<div class="fixed">

				<div class="main_box">


				</div>

				<div class="sidebar_box">

					<div class="widget_box"></div>

				</div>

			</div>

		</div>


	</div>

	<div class="footer_box">

		<div class="fixed">

		</div>

	</div>

</div>
<script src="plugins/jquery-3.4.1.min.js"></script>
<script src="build/scripts.js"></script>
</body>
</html>