<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Home</title>
	<link href="build/style.css" type="text/css" rel="stylesheet">
</head>
<body>
<div id="site">

	<main class="main_box">

		<header class="header_box">
			
			<div class="fixed">
			
				<a href="#" class="logo"></a>

				<form action="#" method="get" class="search">
					<input type="text" value="" placeholder="Search..." name="s" />
					<input type="submit" value="Search" />
				</form>

			</div>
			
		</header>

		<section class="wrapper_box">

			<div class="fixed">

				<article class="main">


				</article>

				<aside class="sidebar">

					<div class="widget_box"></div>

				</aside>

			</div>

		</section>

	</main>

	<footer class="footer_box">

		<div class="fixed">

		</div>

	</footer>

</div>
<script src="plugins/jquery-3.4.1.min.js"></script>
<script src="build/scripts.js"></script>
</body>
</html>