%contents {
	margin-bottom: var(--gap-contents);

	&:last-child {
		margin-bottom: 0;
	}

}

%contents_centered {
	max-width: 640px;
	margin: 0 auto var(--gap-contents);
	text-align: center;

	&:last-child {
		margin-bottom: 0;
	}

}