%items {
	display: flex;
	position: relative;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: flex-start;
	margin: 0 -#{$gap_desktop/2} -#{$gap_desktop};
	z-index: 2;

	@include desktop_small {
		margin: 0 -#{$gap_mobile/2} -#{$gap_mobile};
	}

}

%item {
	display: inline-block;
	position: relative;
	flex-direction: column;
	align-items: stretch;
	justify-content: stretch;
	padding: 0 #{$gap_desktop/2};
	margin: 0 0 #{$gap_desktop};
	font-size: 16px;
	line-height: 1.5;
	white-space: normal;
	z-index: 2;

	@include desktop_small {
		padding: 0 #{$gap_mobile/2};
		margin-bottom: #{$gap_mobile};
	}

}

%item_alt {
	display: block;
	position: relative;
	margin: 0 #{$gap_desktop/2} #{$gap_mobile};
	z-index: 2;

	@include desktop_small {
		margin: 0 #{$gap_mobile/2} #{$gap_mobile};
	}

}

%slider {
	display: block;
	overflow: hidden;
	width: calc(100% + #{$gap_desktop});
	margin: 0 -#{$gap_desktop/2};
	font-size: 0;
	line-height: 0;
	vertical-align: top;
	white-space: nowrap;

	.item {
		margin-bottom: 0;
	}

	@include desktop_small {
		width: calc(100% + #{$gap_mobile});
		margin: 0 -#{$gap_mobile/2};
	}

}