input[type="text"], input[type="email"], input[type="search"], input[type="password"], input[type="tel"], input[type="number"], select, textarea {
	display: block;
	position: relative;
	box-sizing: border-box;
	width: 100%;
	padding: 10px 15px;
	margin: 0;
	border: 1px solid $color_border;
	border-radius: $radius_regular;
	background: $color_white;
	color: $color_main;
	font-family: $font_main;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.25;
	transition: 0.2s;
	z-index: 2;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;

	&:focus {
		border-color: $color_primary;
		outline: none;
	}

}

textarea {
	overflow: auto;
	height: 200px;
	resize: vertical;
}

select::-ms-expand {
	display: none;
}

select {
	padding-right: 30px;
	background: $color_white url(../images/ico_select.svg) right 12px top 50% no-repeat;

	&::-ms-expand {
		display: none;
	}

}

input[type="checkbox"], input[type="radio"] {
	display: inline-block;
	position: relative;
	top: -1px;
	flex-grow: 0;
	flex-shrink: 0;
	width: 20px;
	height: 20px;
	padding: 0;
	margin: 0 5px 0 0;
	border: 1px solid $color_border;
	border-radius: $radius_regular;
	background-color: $color_white;
	vertical-align: middle;
	visibility: visible;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	&:checked {
		border-color: $color_main;
		background: $color_main url(../images/ico_check.svg) 60% 50% no-repeat;
	}

	& + label {
		display: inline;
		line-height: 20px;
	}

}

input[type="radio"] {
	border-radius: 50%;

	&:checked {
		background-image: none;
		box-shadow: 0 0 0 5px $color_white inset;
	}

}