.button {
	display: inline-block;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 10px 20px;
	background: #1f50b4;
	border: 1px solid #1f50b4;
	border-radius: 0;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	color: $color_white;
	text-align: center;
	text-transform: uppercase;
	transition: 0.2s;
	cursor: pointer;
	z-index: 2;
	-webkit-appearance: none;

	&:hover {
		background-color: $color_white;
		border-color: #1f50b4;
		color: #1f50b4;
	}

}

.checkbox {
	display: inline-block;

	input {
		display: block;
		visibility: hidden;
		position: absolute;
		left: -1000px;

		& + span {
			display: block;
			position: relative;
			padding-left: 30px;
			font-size: 16px;
			font-weight: 400;
			line-height: 1.25;
			cursor: pointer;

			&:before, &:after {
				content: '';
				display: block;
				box-sizing: border-box;
				position: absolute;
				top: 0;
				left: 0;
				width: 20px;
				height: 20px;
				background-color: $color_white;
				border: 1px solid #1f50b4;
				z-index: 1;
			}

			&:after {
				top: 6px;
				left: 6px;
				width: 8px;
				height: 8px;
				background-color: #1f50b4;
				border: none;
				opacity: 0;
				z-index: 2;
			}

		}

		&:checked + span {

			&:before {
				border-color: #1f50b4;
			}

			&:after {
				opacity: 1;
			}

		}

	}

}

%title {
	display: block;
	position: relative;
	font-size: 36px;
	font-weight: 500;
	line-height: 1.1;
	text-transform: uppercase;
	margin: 0 0 20px;

	@include desktop_small {
		font-size: 28px;
		margin-bottom: 15px;
	}

	@include tablet_small {
		font-size: 24px;
	}

}