html, body {
	height: 100%;
}

body {

	&.is_locked {
		overflow: hidden;
		touch-action: none;
	}

}

#site {
	display: flex;
	position: relative;
	overflow: hidden;
	flex-direction: column;
	min-height: 100%;
}

.main_box {
	display: block;
	position: relative;
	overflow: hidden;
	flex-grow: 1;
	flex-shrink: 0;
	width: 100%;
}

.fixed {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	max-width: #{$desktop_large}px;
	padding: 0 #{$gap_aside}px;
	margin: 0 auto;

	.fixed {
		padding: 0;
	}

	@include desktop_small {
		padding: 0 $gap_mobile;
	}

}


section, %block {
	display: block;
	position: relative;
	margin-bottom: $margin_desktop;

	@include desktop_small {
		margin-bottom: $margin_tablet;
	}

	@include tablet_small {
		margin-bottom: $margin_phone;
	}

}

.has_background {
	padding: $margin_desktop 0;
	background-color: $color_background;

	&:last-child {
		margin-bottom: 0;
	}

	& + .has_background {
		margin-top: -$margin_desktop;
	}

	&:not(.has_color) + .has_background:not(.has_color) {
		padding-top: 0;
	}

	.header_box + & {
		margin-top: -$margin_header_desktop;
	}

	@include desktop_small {
		padding: $margin_tablet 0;

		.header_box + & {
			margin-top: -$margin_header_mobile;
		}

		& + .has_background {
			margin-top: -$margin_tablet;
		}

	}

	@include tablet_small {
		padding: $margin_phone 0;

		& + .has_background {
			margin-top: -$margin_phone;
		}

	}

}

.has_color {
	background-color: $color_primary;
	color: $color_white;

	&.has_border {
		border-bottom-color: $color_border;
	}

}

.has_border {
	padding-bottom: $margin_desktop;
	border-bottom: 1px solid $color_border;

	@include desktop_small {
		padding-bottom: $margin_tablet;
	}

	@include tablet_small {
		padding-bottom: $margin_phone;
	}

}