.media_box {

	.media {
		display: block;
		position: relative;
		color: var(--color-heading);
		font-size: 0;
		line-height: 0;
		text-align: center;

		&.is_video {

			&:before {
				content: '';
				position: absolute;
				background: var(--color-shadow);
				transition: 0.2s;
				opacity: 0.25;
				z-index: 2;
				inset: 0;
			}

		}

		img {
			display: inline-block;
			position: relative;
			width: auto;
			max-width: 100%;
			height: auto;
			z-index: 1;
			object-fit: cover;
		}

	}

	.play {
		@extend %play;
	}

	@include media_min($tablet_large) {

		&.is_reversed {

			.fixed {
				flex-direction: row;
			}

			.media {
				right: auto;
				left: 0;
			}

		}

		&.is_full {
			--gap-section-top: var(--gap-section);

			&.is_reversed {

				.media {
					border-radius: 0 var(--radius-regular) var(--radius-regular) 0;
				}

			}

			.fixed {
				justify-content: flex-end;
				min-height: 240px;
			}

			.wrapper {
				flex-grow: unset;
				width: calc(50% - var(--gap-section-inner));
			}

			.media {
				position: absolute;
				border-radius: 0;

				img {
					display: block;
					width: 100%;
					height: 100%;
				}

			}

		}

		&.is_card {
			--gap-section-inner: var(--gap-section-small);

			&.is_reversed {

				.media {
					border-radius: var(--radius-regular) 0 0 var(--radius-regular);
				}

				.wrapper {
					padding: 0 var(--gap-section-inner) 0 0;
				}

			}

			.wrapper {
				padding: 0 0 0 var(--gap-section-inner);
			}

			.fixed {
				border-radius: var(--radius-regular);
				background-color: var(--color-background);
			}

			.media {
				border-radius: 0 var(--radius-regular) var(--radius-regular) 0;
			}

		}

		&.is_compact {
			--gap-section: 50px;

			.fixed {
				max-width: 1080px;
			}

		}

		.fixed {
			display: flex;
			position: static;
			flex-direction: row-reverse;
			align-items: center;
			justify-content: center;
			gap: var(--gap-section-inner);
		}

		.wrapper {
			display: block;
			flex-grow: 1;
			min-width: 0;
			--width-contents: #{rem(1000)};

			&:first-child {
				width: auto;
				padding: 0;
				text-align: center;
				--width-contents: #{rem(800)};
			}

		}

		.contents {
			margin: 0;
			text-align: inherit;
		}

		.media {
			top: 0;
			right: 0;
			bottom: 0;
			overflow: hidden;
			flex-grow: 0;
			flex-shrink: 0;
			width: 50%;
			border-radius: var(--radius-regular);
		}

	}

	@include tablet_large {

		.fixed {
			display: flex;
			flex-direction: column;
			align-items: stretch;
		}

		.media {
			position: relative;
			width: auto;
			margin: calc(-1 * var(--gap-section-top)) calc(-1 * var(--gap-section-side)) var(--gap-contents);

			&:last-child {
				margin-bottom: 0;
			}

		}

	}

}